.titleRed {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    margin-bottom: 20px;
}

iframe{
    margin-top: 20px;
    margin-bottom: 20px;
}

.backgroundImg{
    background-color: whitesmoke;
}